[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-migrate = "==2.7.0"
flask-sqlalchemy = "*"
gunicorn = "*"
flask-cors = "*"
psycopg2-binary = "*"
opentrons = "*"
awsebcli = "*"
aionotify = "*"
appdirs = "*"
attrs = "*"
certifi = "*"
chardet = "*"
click = "*"
distlib = "*"
filelock = "*"
idna = "*"
itsdangerous = "*"
jsonschema = "*"
numpy = "*"
pipenv = "*"
pydantic = "*"
pyrsistent = "*"
pyserial = "*"
requests = "*"
six = "*"
typing-extensions = "*"
urllib3 = "*"
urwid = "*"
virtualenv = "*"
virtualenv-clone = "*"
pyspelling = "*"
yapf = "*"
Flask = "==1.1.2"
Flask-Cors = "*"
Jinja2 = "*"
MarkupSafe = "*"
Werkzeug = "*"
flask-restx = "*"
flask-script = "*"
flask-testing = "*"

[dev-packages]

[requires]
python_version = "3"
