[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-migrate = "==2.7.0"
flask-sqlalchemy = "*"
gunicorn = "*"
flask-cors = "*"
psycopg2-binary = "*"
opentrons = "*"
numpy = "*"
pyserial = "*"
requests = "*"
pyspelling = "*"
yapf = "*"
Flask = "==1.1.2"
Flask-Cors = "*"
flask-restx = "*"
flask-script = "*"
flask-testing = "*"

[dev-packages]

[requires]
python_version = "3"
